@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

:root {
    --dark-blue: #1F2937;
    --light-blue: #3B82F6;
    --medium-grey: #D9D9D9;
    --white: #fff;
    --white-transparent: #ffffff1a;
    font-size: 10px;
}

body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
}
/*--1st Section----*/
section.first {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 56px 0;
}

/*Header*/

header {
    background-color: inherit;
    opacity: 0.98;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.3);
    z-index: 2;
}

h2 {
    font-size: 2rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 1.6rem;
}

a:hover {
    background-color: var(--white-transparent);
    outline: 4px solid  var(--white-transparent);
}

a:active {
    background-color: rgba(255, 255, 255, 0.25);
    outline: 4px solid  rgba(255, 255, 255, 0.25);
    color: var(--dark-blue);
}

header a + a {
    margin-left: 1rem;
}

/*Hero*/

.hero {
    background-image: url(./images/sickle-moon-min.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 66.6vw;
    max-width: 660px;
    max-height: 440px;
    margin: 0 auto;
    position: relative;
}

.hero div {
    width: 60%;
    position: absolute;
    bottom: 4vw;
    left: 2vw;
    z-index: 1;
    text-shadow: 0.2rem 0.2rem 0.4rem rgba(0,0,0,0.3);
}

h1 {
    width: 19rem;
    font-size: 2.4rem;
    margin: 0;
}

p {
    font-size: 1.2rem;
    margin: 0;
}

button {
    display: none;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--light-blue);
    color: var(--white);
    border: none;
    border-radius: 0.55em;
    padding: 0.6em 2.6em;
    flex-shrink: 0;
}



.hero .shadow {
    width: 100%;
    box-shadow: 0 0.4rem 1.4rem 1.6rem var(--dark-blue);
    position: absolute;
    bottom: 0;
    left: 0%;
    z-index: 0;
}
 .shadow img {
    display: none;
 }
/*-1st section media query-*/
@media (min-width: 720px) {
    section.first {
        padding: 12rem 7vw 6rem;
    }

    /*Header*/
    header {
        padding: 1.6rem 7vw;
    }
    
    h2 {
        font-size: 2.4rem;
    }

    a {
        font-size: 1.8rem;
    }

    /*Hero*/
    .hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        background-image: none;
        max-width: none;
        max-height: none;
        height: fit-content;
        z-index: 0;
    }

    h1 {
        width: auto;
        font-size: 3.2rem;
    }

    p {
        font-size: 1.6rem;
    }

    .hero button {
        display: inline;
        margin-top: 0.8rem;
    }

    .hero div,
    .hero .shadow {
        position: static;
        z-index: auto;
    }

    .hero > :first-child {
        max-width: 307px;
    }
    .hero .shadow {
        width: 365px;
        flex-shrink: 0;
        box-shadow: inset 0 0 6px 8px var(--dark-blue),
         inset 0 0 16px 12px var(--dark-blue);
    }

    .shadow img {
        display: inline;
        width: 100%;
        z-index: -1;
        position: relative;
    }
}

/* ---1000---*/
@media (min-width: 1000px) {
    section.first {
        padding: 14.5rem 12vw 7.5rem;
    }

    /*Header*/
    header {
        padding: 1.8rem 12vw;
    }
    
    h2 {
        font-size: 2.8rem;
    }

    a {
        font-size: 2rem;
    }

    header a + a {
        margin-left: 1.6rem;
    }

    /*Hero*/
    h1 {
        font-size: 3.8rem;
        font-weight: 900;
    }

    p {
        font-size: 1.8rem;
    }

    .hero > :first-child {
        max-width: 350px;
    }
    .hero .shadow {
        width: 394px;
        box-shadow: inset 0 0 8px 10px var(--dark-blue),
         inset 0 0 16px 12px var(--dark-blue);
    }
}

/* ---1350---*/
@media (min-width: 1350px) {
    section.first {
        padding: 19.5rem 13vw 12rem;
    }

    /*Header*/
    header {
        padding: 1.8rem 13vw;
    }
    
    h2 {
        font-size: 3.2rem;
    }

    a {
        font-size: 2.4rem;
    }

    header a + a {
        margin-left: 2.4rem;
    }

    /*Hero*/
    h1 {
        font-size: 4.8rem;
    }

    p {
        font-size: 2.4rem;
    }

    .hero > :first-child {
        max-width: 540px;
    }
    .hero .shadow {
        width: 584px;
        box-shadow: inset 0 0 12px 12px var(--dark-blue),
         inset 0 0 16px 12px var(--dark-blue);
    }

    .hero button {
        margin-top: 2.4rem;
    }
}

/*--2nd Section--*/

section.second {
    text-align: center;
    padding-top: 2.6rem;
}

/*Icons*/

.img-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    padding: 3rem 0;
}

.icon > * {
    width: 12.5rem;
    margin: 0 auto;
}

.icon img {
    border: 0.4rem solid var(--light-blue);
    border-radius: 1.2rem;
    padding: 1.25rem;
}

/*Quote*/

div.quote{
    background-color: var(--medium-grey);
    text-align: left;
    font-style: italic;
    font-weight: 300;
    font-size: 1.6rem;
    padding: 2.8rem 2.4rem 3.2rem;
}

.quote::after {
    content: '-Thor, The God Of Thunder';
    display: block;
    text-align: right;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
}

/*Take Acion*/

div.action-time {
    background-color: var(--light-blue);
    color: var(--white);
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1.5rem;
    margin: 3.6rem 3rem;
    border-radius: 1rem;
}

.action-time p {
    font-weight: 700;
}

.action-time p + p {
    color: #E5E7EB;
    font-size: 1rem;
    font-weight: normal;
}

.action-time button {
    display: inline;
    border: 2px solid var(--white);
}

button:hover {
    background-color: #2f68c5;
}

button:active {
    background-color: #629bf8;
    color: #e3e3e3;
}

.action-time button:active {
    border: 2px solid #e3e3e3;
}

/*footer*/

footer {
    background-color: var(--dark-blue);
    color: var(--white);
    font-size: 1.2rem;
    padding: 2rem;
}

/*-2st section media query-*/
@media (min-width: 720px) {
    section.second {
        padding-top: 4rem;
    }

    /*Icons*/
    .img-container {
        padding: 5rem 7vw 6rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    /*Quote*/
    div.quote{
        font-size: 1.9rem;
        padding: 2.8rem 8.3vw 3.2rem;
    }

    .quote::after {
        font-size: 1.4rem;
    }

    /*Take Action*/
    div.action-time {
        gap: 2rem;
        padding: 2.4rem;
        margin: 5rem auto;
        width: fit-content;
        border-radius: 1.2rem;
    }
 
    .action-time p + p {
        font-size: 1.2rem;
    }

    button {
        font-size: 1.6rem;
    }

    /*footer*/
    footer {
        font-size: 1.6rem;
        padding: 2.2rem;
    }
}

/* ---1000--- */
@media (min-width: 1000px) {
    section.second {
        padding-top: 6rem;
    }

    /*Icons*/
    .img-container {
        padding: 7rem 12vw 8rem;
    }

    .icon > * {
        width: 15rem;
    }

    .icon > :first-child {
        margin-bottom: 0.4rem;
    }

    /*Quote*/
    div.quote{
        font-size: 2.3rem;
        padding: 3.4rem 15vw 3.8rem;
    }

    .quote::after {
        font-size: 1.6rem;
    }

    /*Take Action*/
    div.action-time {
        padding: 3rem;
        margin: 8rem auto;
        gap: 3rem;
        border-radius: 1.4rem;
    }
 
    .action-time p + p {
        font-size: 1.4rem;
    }

    button {
        font-size: 1.8rem;
    }

    /*footer*/
    footer {
        font-size: 1.8rem;
        padding: 2.4rem;
    }
}

/* ---1350--- */
@media (min-width: 1350px) {
    section.second {
        padding-top: 6rem;
    }

    .second h2 {
        font-size: 3.6rem;
    }

    /*Icons*/
    .img-container {
        padding: 7rem 15vw 8rem;
    }

    .icon > * {
        width: 20rem;
    }

    .icon > :first-child {
        margin-bottom: 0.6rem;
    }

    /*Quote*/
    div.quote{
        font-size: 3.6rem;
        padding: 9.4rem 17vw 9.8rem;
    }

    .quote::after {
        font-size: 2.4rem;
    }

    /*Take Action*/
    div.action-time {
        padding: 5rem 8rem;
        margin: 10rem auto;
        gap: 5rem;
        border-radius: 1.4rem;
    }
 
    .action-time p + p {
        font-size: 2rem;
    }

    button {
        font-size: 2.4rem;
        padding: 1.2rem 5rem;
    }

    .action-time button {
        border: 3px solid var(--white);
    }

    .action-time button:active {
        color: #e3e3e3;
        border: 3px solid #e3e3e3;
    }

    /*footer*/
    footer {
        font-size: 2.4rem;
        padding: 3.2rem;
    }
}