@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

:root {
    --dark-blue: #1F2937;
    --light-blue: #3B82F6;
    --medium-grey: #D9D9D9;
    --white: #fff; 
    font-size: 10px;
}

body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    height: 2000px;
}
/*--1st Section----*/
section.first {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 57px 0;
}

/*Header*/

header {
    background-color: inherit;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    box-shadow: 0 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.3);
    z-index: 2;
}

h2 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 1.6rem;
}

header a + a {
    margin-left: 1rem;
}

/*Hero*/

.hero {
    background-image: url(./images/sickle-moon-min.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 66.6vw;
    max-width: 660px;
    max-height: 440px;
    margin: 0 auto;
    position: relative;
}

.hero div {
    width: 60%;
    position: absolute;
    bottom: 4vw;
    left: 2vw;
    z-index: 1;
}

h1 {
    font-size: 2.4rem;
    margin: 0;
}

p {
    font-size: 1.2rem;
    margin: 0;
}

.hero .shadow {
    width: 100%;
    box-shadow: 0 0.4rem 1.4rem 1.6rem var(--dark-blue);
    position: absolute;
    bottom: 0;
    left: 0%;
    z-index: 0;
}